<!DOCTYPE html>
<head>
	<link rel="stylesheet" type="text/css" href="static/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="static/css/range.css">
	<link rel="stylesheet" type="text/css" href="static/css/styles.css">
	<script type="text/javascript" src="static/js/jquery.js"></script>
	<script type="text/javascript" src="static/js/bootstrap.js"></script>
	<script type="text/javascript" src="static/js/range.js"></script>
	<script type="text/javascript" src="static/js/script.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-md-4 image-form-col">
				<form method="post" enctype="multipart/form-data" id="image-upload">
					<div class="form-group"> 
						<label for="file">Choose an image</label>
						<input type="file" name="file" id="file" class="inputfile">
						<input type="button" value="Submit" class="btn btn-success" id="image-submit">
					</div>
				</form> 
			</div>
			<div class="col-md-8">
				<div class="row">
					<img src="" class="img-responsive preview-image" id="result">
				</div>
			</div>
		</div>
	</div>
</body>